<div class="wrapper">
  <header class="main-header">
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>
  <div class="left-side">

    <app-moonboard-route-menu></app-moonboard-route-menu>
  </div>
  <div class="content">

    <router-outlet></router-outlet>

  </div>
  <div class="right-side">Advertising</div>
  <footer class="main-footer">The footer</footer>
</div>