<div class="wrapper">
  <header class="main-header">
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>
  <div class="left-side">
    <app-moonboard-route-list></app-moonboard-route-list>
  </div>
  <div class="content">
    <div id="main-grid">
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>
      <button class="button" ng-click="IdChange()">
        Click to Change ID
      </button>

    </div>
  </div>
  <div class="right-side">Advertising</div>
  <footer class="main-footer">The footer</footer>
</div>